/**
 * Print Stylesheet for pdp
* @version         1.0
* @lastmodified    18.08.2022
*/

@page {
  size: A4;
  margin: 70pt 60pt 70pt;
}

@page: left {
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
}

.pdp-ilp-header,
#pdpActivityFeedback,
.pdp-print,
.pdp-philosophy,
aside,
#pdpFormNew,
footer,
button,
summary,
.pdp-delete-objective,
.pdp-drag-handle,
.pdp-objective-satisfied-container,
.pdp-tree-container,
#pdpObjectivesArchivedContainer,
.pd-obj-live-container {
  display: none !important;
}

body {
  background-color: #fff;
  margin: 1cm;
}

main {
  margin-top: 0;
}

header {
  position: relative;
  top: 0;
  box-shadow: none;
}

.pdp-layout {
  display: block;
}

li,
#pdpFormObjectives #pdpObjectivesLive > li,
#pdpObjectivesArchived > li {
  background-color: #fff;
  /* page-break-after: always; */
}

.pdp-dates-container > div:first-child > p:first-child {
  margin-bottom: 0.25rem;
}

.pdpCompetenciesPrint {
  display: none;
}

.pdp-print-break {
  /* page-break-inside: avoid; */
}

.pdp-objective-form-container {
  height: auto;
  position: relative;
  padding-top: 8rem !important;
}

.pdp-edit-title {
  position: absolute;
  top: 0;
  width: calc(100% - 2rem);
  height: 5rem;
}

.pdp-date-created {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 0;
}

.pdp-print-label {
  margin-bottom: 0;
}

.pdp-privacy {
  margin-top: 2rem;
  border: 5px solid red;
  padding: 1rem;
}
