@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --size-25: 0.25rem;
  --size-50: 0.5rem;
  --size-75: 0.75rem;
  --size-80: 0.8rem;
  --size-100: 1rem;
  --size-120: 1.1rem;
  --size-200: 1.5rem;
  --size-300: 2rem;
  --size-400: 2.25rem;
  --size-500: 3rem;

  --column-max-width: 75ch;

  --colour-ians-highlight: #2990ea;
  --colour-ians-dark-highlight: yellow;
  --colour-ians-header: #05a;
  --colour-ians-darkblue: #0f1120;

  --ians-colour-blue-light: #2990ea;
  --ians-colour-blue-mid: #05a;
  --ians-colour-blue-dark: #003366;

  --ians-colour-grey-light: #fafafa;
  --ians-colour-grey-mid: #ccc;
  --ians-colour-grey-dark: #333;

  --ians-colour-highlight-light: yellow;
  --ians-colour-highlight-mid: gold;
  --ians-colour-highlight-dark: darkorange;

  --ians-size-sides-small: 0.5rem;
  --ians-grid-gaps: 1rem;

  --ians-font-family: roboto, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;

  --ilp-height: 85px;
}

/* 
.####.##.......########.
..##..##.......##.....##
..##..##.......##.....##
..##..##.......########.
..##..##.......##.......
..##..##.......##.......
.####.########.##.......
*/

.pdp-ilp-header {
  background-image: url(images/ilp.jpg);
  width: 100%;
  height: var(--ilp-height);
  position: fixed;
  top: 0;
  background-color: #036;
  z-index: 300;
  text-align: right;
}

.pdp-ilp-header button {
  margin-right: 0.25rem;
}

/* 
..######...##........#######..########.....###....##......
.##....##..##.......##.....##.##.....##...##.##...##......
.##........##.......##.....##.##.....##..##...##..##......
.##...####.##.......##.....##.########..##.....##.##......
.##....##..##.......##.....##.##.....##.#########.##......
.##....##..##.......##.....##.##.....##.##.....##.##......
..######...########..#######..########..##.....##.########
*/

html,
body {
  /* height: 100%; */
  margin: 0;
}

body {
  background-color: #eeeeee;
  color: var(--ians-colour-grey-dark);
  line-height: 1.7;
  font-family: var(--ians-font-family);
  font-size: var(--size-100);

  /* font-weight: 300; */
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--ians-colour-blue-mid);
  margin-top: var(--size-200);
  margin-bottom: var(--size-100);
}

h1 {
  color: black;
  font-size: var(--size-300);
  line-height: 1em;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--size-200);
  font-weight: 400;
  margin-top: var(--size-400);
  /* position: relative;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fefefe;
  color: black;
  padding: 0rem 0.5rem;
  border-left: 5px solid var(--ians-colour-blue-light); */
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  color: var(--ians-colour-blue-dark);
  font-size: var(--size-100);
  font-weight: 700;
  margin-top: var(--size-400);
  margin-bottom: var(--size-75);
}

h4 {
  font-size: var(--size-100);
}

button {
  cursor: pointer;
  font-family: var(--ians-font-family);
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: var(--ians-colour-highlight-mid);
  outline-color: var(--pdp-input-outline);
  padding: v14px 1rem;
}

button:focus {
  border-color: var(--duet-color-primary);
  box-shadow: 0 0 0 2px var(--duet-color-primary);
  outline: 0;
}

button:hover {
  background-color: var(--ians-colour-blue-mid);
  color: var(--pdp-color-gold);
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

input[disabled] {
  background-color: #eee !important;
  cursor: not-allowed;
}

footer {
  background-color: var(--colour-ians-darkblue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.##.....##.########.####.##........######....
.##.....##....##.....##..##.......##....##...
.##.....##....##.....##..##.......##.........
.##.....##....##.....##..##........######....
.##.....##....##.....##..##.............##...
.##.....##....##.....##..##.......##....##...
..#######.....##....####.########..######....
*/

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-0 {
  margin-left: 0;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-0-25 {
  padding-left: 0.25rem;
}

.pr-0-25 {
  padding-right: 0.25rem;
}

.p-1 {
  padding: 1rem;
}

.p-0 {
  padding: 0;
}

.p-0-25 {
  padding: 0.25rem;
}

.p-0-5 {
  padding: 0.5rem;
}

.p-0-75 {
  padding: 0.75rem;
}

.fs-1 {
  font-size: 1rem;
}

.fs-1-5 {
  font-size: 1.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.a2-text-center {
  text-align: center;
}

.a2-text-left {
  text-align: left !important;
}

.a2-db {
  display: block;
}

.a2-dib {
  display: inline-block;
}

.ians-visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ..######...########..####.########.
	/* .##....##..##.....##..##..##.....##
	/* .##........##.....##..##..##.....##
	/* .##...####.########...##..##.....##
	/* .##....##..##...##....##..##.....##
	/* .##....##..##....##...##..##.....##
	/* ..######...##.....##.####.########. */

@screen md {
  .ians-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-5 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--ians-grid-gaps);
    grid-row-gap: var(--ians-grid-gaps);
  }

  .ians-grid-5 > *:nth-child(-1n + 3) {
    grid-column: span 5;
  }
  .ians-grid-5 > *:nth-last-child(2) {
    grid-row-start: 2;
    grid-column: 3 / span 5;
  }
  .ians-grid-5 > *:nth-last-child(1) {
    grid-row-start: 2;
    grid-column: 8 / span 5;
  }
}
